Source: yaft
Section: unknown
Priority: extra
Maintainer: Adrian Fish <a.fish@lancaster.ac.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>

Package: yaft
Architecture: all
Depends: sakai
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
